<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:36</td>   <td>0</td> <td title="&gt;&gt;TestLauncher.beforeSuite(org.testng.ITestContext)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:37</td>   <td>727</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:44</td>   <td>7707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:51</td>   <td>14775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:51</td>   <td>14788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:51</td>   <td>14799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:51</td>   <td>14808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:51</td>   <td>14816</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:51</td>   <td>14825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:51</td>   <td>14835</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestLauncher.executeTestCase(java.lang.String)[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">executeTestCase</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="8f8f71">  <td>18/02/08 23:56:51</td>   <td>14883</td> <td title="&lt;&lt;TestLauncher.afterSuite()[pri:0, instance:com.test.automation.testStartup.TestLauncher@3f49dace]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
</table>
